@import "style.css";


.image1 {
    width:  322px;
    height: 370px;
}

.demo-wrap {
    position: relative;
    padding-bottom: 13rem;
    padding-top: 3rem;
}

.demo-wrap:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1.0;
  background-image: linear-gradient(to right, rgb(255, 255, 255, 1), rgb(255, 255, 255, 0) 60%, rgb(255, 255, 255, 0)), url("images/abo-background.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 80%;
  z-index: -100;
}

.triangle-topleft {
    position: absolute;
    height: 1500px;
    width: 800px;
    clip-path: polygon(0% 0, 100% 0%, 0% 100%);
    background-color: white;
    z-index: -50;
    overflow:clip;
}

.heading2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column-gap: 10rem;
    grid-template-columns: 12.5rem 12.5rem;
}

.grid-container1 {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column-gap: 10rem;
    grid-template-columns: 12.5rem 12.5rem 12.5rem;
}


.grid-item {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 5px;
    transition: all .25s ease-in-out;
}

.grid-container1 h4,h5 {
    text-align: center;
}

.grid-container h4,h5 {
    text-align: center;
}

.row-border{
    border-top: 3px solid gray;
}


.flexbox {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: white;
}

.flexbox h5{
    text-align: left;
}

.flexbox .image {
    width:30%;
    flex: 1 1 1;
    margin-left: 6rem;

}

.flexbox .item {
    inline-size: 60%;
    flex-grow: 1;
    padding-left: 4rem;
    margin-top: 3rem;
    margin-right: 6rem;
    margin-left: 4rem;
}

.flexbox .item h4 {
    text-align: left;
}


.card {
    padding: 20px;
    margin: 16px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    background: linear-gradient(69deg, #D6A99A8F,#EEE8E6);
    width: 200px;
    height: 250px;
    border-width: 5px;
}




.card:hover img {
    transform: scale(1.05);
}