@import "style.css";

.environment {
  background-color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;
}

.environment .text{
    text-align: center;
    inline-size: 100%;
    flex-grow: 1;
    line-height: 2;
}

.environment .text h2, p{
  padding-left: 1rem;
  width: 88%;
}

.environment .image{
    margin-left: 3rem;
    margin-right: 1.5rem;
    padding-bottom: 4rem;
}

.environment .image img {
  max-width: 400px;
}

.grantees {
    display: flex;
    margin-right:5rem;
    margin-left:5rem;
    margin-bottom:2rem;
    margin-top: 2rem;
}

.grantees .text{
    text-align: center;
    inline-size: 30%;
    flex-grow: 1;
    line-height: 2;
}

.h2{
  margin-bottom: 1rem;
}

.h4{
  margin-top: 2rem;
}

#diff-id{
  height: 550px;
  display: flex;
  justify-content: center;
  align-items:center;
}

.container{
  width: 100%;
  margin:auto;
}

.subcontainer{
  width: 90%;
  margin:auto;
  align-items:row;
}

.swiper-slide {
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.item-container{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  border: 1px black;
}

.swiper-wrapper {
  margin-bottom: 1rem;
}


.slide-container {
  cursor:pointer;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition:0.5s;
  padding: 2rem;
  margin: auto;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  background: rgba(236, 236, 236, 0.848);
  width: 360px;
  height: 375px;
  border-width: 5px;
  text-align:center;
  transition:0.5s;
}

.slide-img{
  flex: 1 1 0px;
  width: 80%;
  height: 200px;
  border: 1px solid white;
  background-position:center;
  background-size:cover;
  cursor:pointer;
  display:flex;
  justify-content: center;
  align-items: center;
  transition:0.5s;
}


.img-1{
  background-image:url("images/wolfhollow-1.png");
}

.img-2{
  background-image:url("images/devcolor.jpeg");
}

.img-3{
  background-image:url("images/geek.png");
}

.img-4{
  background-image:url("images/nrdc.png");
}

.img-5{
  background-image:url("images/climateSolutions.png");
}

.img-6 {
  background-image:url("images/aclu.png");
}

.img-7 {
  background-image:url("images/sr3.jpg");
}

.img-8{
  background-image:url("images/Salish.jpeg");
}

.img-9{
  background-image:url("images/worldReader.png");
}

.img-10{
  background-image:url("images/ibr.jpg");
}

.img-11 {
  background-image:url("images/maldef.jpeg");
}

.img-12 {
  background-image:url("images/Sarvery.png");
}

.img-13{
  background-image:url("images/AAHOM.jpeg");
}

.img-14{
  background-image:url("images/awis.jpg");
}

.img-15{
  background-image:url("images/kcsarc.jpg");
}

@media(max-width:1600px){
  .container{
    width: 100%
  }
}

.more-info {
  opacity: 0;
  position: absolute;
  transform:scale(0);
  transition: 0.5s;
  width:50%;
  height:50%;
  overflow:overlay;
}

.more-info a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.slide-text {
  align-items:center;
  position: absolute;
  justify-content: center;

}

.slide-img:hover {
  box-shadow: 0 0 0 200px rgba(0,0,0,0.9) inset;
  z-index: 0;
}

.slide-img:hover .more-info{
  opacity:1;
  transform:scale(1);
}

.card img {
    border-radius: 20px;
    max-width: 160px;
    max-height: 160px;
  }

  .flex-item {
    padding: 1em;
  }

.left,.right {
   border: none;
   background-color: transparent;
   cursor: pointer;
   color: brown;
   font-size: 5rem;
   overflow: hidden;
   z-index: 100;
}
  
.card p {
  padding: 0rem 1rem;
  font-size: 22px;
}

@media(min-width: 598) {
  .environment .image img {
    max-width: 480px;
  }
}

@media (min-width: 768px) {
  .environment .image img {
    max-width: 500px;
  }
}

@media (min-width:992px) {
  .environment {
    flex-direction: row;
  }

  .environment .image{
    padding-bottom: 0;
  }

  .environment .image img {
    max-width: 450px;
  }

  .environment .text {
    inline-size: 30%;
    text-align: left;
  }

  .environment .text h2 {
    font-size: 32px;
  }
}

@media (min-width: 1200px){
  .environment .image img {
    max-width: 100%;
  }

  .environment .text h2 {
    font-size: 40px;
  }
}