
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&family=Nanum+Gothic:wght@400;800&family=Source+Sans+Pro:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&family=Cuprum&family=Nanum+Gothic:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "icofont/icofont.min.css";


* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
    margin:0;
}

*, ::after, ::before{
    box-sizing:border-box;
}

h1, h2, h3, h4 {
    font-style: normal;
    font-weight: 600;
}

h1 {
    line-height: 111px;
    font-size: 88px;
}

h2, h3, h4 {
    letter-spacing: 0em;
}

h2 {
    font-size: 56px;
    line-height: 70px;
}

h3 {
    font-size: 32px;
    line-height: 40px;
}

h4 {
    font-size: 24px;
    line-height: 30px;
}

h5 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

h6 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

.header-space {
    padding-bottom: 6rem;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding:1rem 4rem;
    color: black; 
    z-index: 100;
    border-bottom: 1px solid #8C8C8C;
}

.image-title {
    width: 60%;
    display: flex;
    align-items: center;
}

.image-title img {
    max-height: 50px;
    max-width: auto;
}

.THF {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;   
    font-size: 20pt;
}

.list {
    width:40%;
}

nav ul {
    list-style-type: none;
}

nav li {
    padding: 0rem 1rem;
}

nav a {
    display: block;
    padding: 0 1rem;
    text-decoration: none;
    color: black;
}

nav .header-right {
    float: right;
}

footer {
    position:static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #D6A99A59;
    color: black;
    padding: 1rem 3rem;
    padding-right: 4rem;
    font-size: 12pt;
  }

 .icofont-facebook {
    color: black;
    padding-left:3.5rem;
    padding-right:3.5rem;
    float: right;
}

.icofont-email {
    color: black;
    padding-left:3.5rem;
    padding-right:3.5rem;
    float: right;
}

.title {
    position: static;
    top: 0px;
    margin: 0 6rem;
    padding: 4rem;
}

.triangle-topleft {
    position: absolute;
    height: 800px;
    width: 453px;
    left: 0.5px;
    top: 1px;
    clip-path: polygon(0% 0, 100% 0%, 0% 100%);
    background-color:#D6A99A8F;
    z-index: -100;
    overflow:clip;
}


.button {
    background-color: #8C8C8C; 
    border: none;
    color: white;
    padding: 11px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
  }

  hr.solid {
    background-color: black;
    border-top: .5px solid black;
    border-bottom: .5px solid black;
  }


